/* header */
.header {
    height: 55px;
}

.header .m3 {
    display: none;
}

/* top */
.top {
    position: relative;
}

.top::before {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 145px;
    left: 0;
    content: '';
    z-index: -1;
}

.top .container {
    width: 980px;
    margin: 0 auto;
}

.tit {
    display: flex;
}

.tit > a {
    margin: 0 30px;
}

/* menu */
.menu {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu > li {
    width: 163.25px;
}

.menu > li:first-child {
    width: 163.65px;
}

.menu > li > a {
    background-color: #FFCE0B;
    font-family: 'GmarketSansMedium';
    font-size: 17px;
    letter-spacing: -0.05em;
    height: 50px;
    line-height: 50px;
    width: 100%;
}

.menu > li > a:hover {
    background-color: #f9ba21;
}

.sub-menu{
    display: none;
    background-color: #fff;
    position: absolute;
    top: 146px;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 10px 10px 0px rgba(0,0,0,0.2);
}

.sub-menu > ul {
    width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    border-right: 1px solid #F2F2F2;
}

.sub-menu > ul li:last-child div > ul > li {
    font-size: 13px;
    color: #5a5a5a;
}

.sub-menu > ul > li {
    border-left: 1px solid #F2F2F2;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.menu > li:nth-child(4) .sub-menu > ul > li {
    display: flex;
}

.menu > li:nth-child(4) .sub-menu div {
    margin-bottom: 50px;
}

.menu > li:nth-child(4) .sub-menu div > a {
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    color: #000;
    padding: 9px;
}

.menu > li:nth-child(4) .sub-menu div > ul > li > a{
    font-size: 13px;
    color: #5a5a5a;
    letter-spacing: -0.07em;
    padding: 5px 9px;
}
.menu > li:nth-child(4) .sub-menu div > ul > li:hover > a{
    background-color: #fff1bc;
}

.sub-menu > ul > li > a {
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    color: #000;
    padding: 9px;
}

.sub-menu > ul > li > ul {
    font-size: 13px;
    color: #5a5a5a;
    letter-spacing: -0.05em;
}

.sub-menu > ul > li > ul > li > a {
    padding: 5px 9px;
}

.sub-menu > ul > li > ul > li:hover > a {
    background-color: #fff1bc;
}


/* searchtotal */
.searchtotal {
    height: 80px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.form-search {
    align-items: center;
    display: flex;
    position: relative;
}

.form-search input {
    width: 432px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 0 80px 0 30px;
    color: #8C8C8C;
    font-size: 16px;
    letter-spacing: -0.06em;
    outline: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent;
}


.form-search .btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 19px;
}

.searchtotal .btn-sch {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    background-color: rgba(0,0,0,0);
}

.searchtotal .btn-sch::before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('../images/obank/icon_sch.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.searchtotal .btn-del {
    display: block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border: none;
    background-color: #fff;
}

.searchtotal .btn-del.off {
    display: none;
}

.searchtotal .btn-del::before {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../images/obank/icon_del.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-con {
    background-color: #7F7368;
    color: #fff;
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    letter-spacing: -0.05em;
    width: 60px;
    height: 28px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
}

.list-word {
    display: flex;
    gap: 20px;
    color: #89744F;
    font-size: 16px;
    letter-spacing: -0.06em;
}


/* visual */
.visual {
    height: 500px;
    background-color: #F3EDE1;
    position: relative;
}

.visual.active1 {background-color: #F3EDE1;}
.visual.active2 {background-color: #E5E5EF;}
.visual.active3 {background-color: #DDE4EE;}

/* area-con */
.area-con {
    width: 980px;
    margin: 0 auto;
    
}

.area-con ul {
    height: 440px;
    position: relative;
}

.area-con li {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.area-con .con1 {display: none;}
.area-con .con2 {display: none;}
.area-con .con3 {display: none;}
.area-con .con1.on {display: flex;}
.area-con .con2.on {display: flex;}
.area-con .con3.on {display: flex;}

.area-con li::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 440px;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: ani_bottom_top;
    animation-duration: 1.5s;
}

.area-con > ul > li:first-child::before {width: 519px;}
.area-con .con1.on::before {background: url('../images/obank/visual_main12_220406.jpg') no-repeat 0 0;}
.area-con .con2.on::before {background: url('../images/obank/visual_main6_220406.jpg') no-repeat 0 0;}
.area-con .con3.on::before {background: url('../images/obank/visual_main7.jpg') no-repeat 0 0;}


.area-con strong {
    margin-top: 85px;
    font-family: 'GmarketSansMedium';
    font-size: 42px;
    letter-spacing: -0.1em;
    animation-name: ani_right_left;
    animation-duration: 0.6s;
    animation-delay: 0.4s;
    opacity: 0;
    animation-fill-mode: forwards;
    position: relative;
}

.area-con span {
    font-size: 18px;
    letter-spacing: -0.1em;
    line-height: 1.5;
    animation-name: ani_right_left;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
    position: relative;
}

.area-con a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    animation-name: ani_right_left;
    animation-duration: 0.6s;
    animation-delay: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
    position: relative;
}

/* area-control */
.area-control {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translateX(-50%);
}

.ui-btn:hover{
    cursor: pointer;
}

.area-control ul, .area-control ul li, .area-control .ui-btn {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
}

.area-control ul > li > a, .area-control .ui-btn {
    overflow: hidden;
    position: relative;
    padding-left: 16px;
    width: 0;
    height: 20px;
}

.area-control ul > li > a:before, .area-control .ui-btn:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.area-control ul > li > a {
    overflow: hidden;
    display: block;
    position: relative;
    width: 0;
    height: 20px;
    padding: 0 0 0 12px;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.area-control ul > li > a:before {
    left: 3px;
    right: 3px;
    height: 6px;
    margin: -3px 0 0;
    border-radius: 3px;
    background: #a3a3a3;
}

.area-control ul > li > .ct1.on {padding-left: 23px;}
.area-control ul > li > .ct2.on {padding-left: 23px;}
.area-control ul > li > .ct3.on {padding-left: 23px;}

.area-control ul > li > a.on:before {
    background: #6d6d6a;
}

.area-control .ui-btn.next, .area-control .ui-btn.before {
    border: none;
}

.area-control .ui-btn.next {
    margin: 0 0 0 12px;
    background: url(../images/main/icon_down.png) no-repeat 0 0;
    transform: rotate(-90deg);
}

.area-control .ui-btn.before {
    margin: 0 12px 0 0;
    background: url(../images/main/icon_down.png) no-repeat 0 0;
    transform: rotate(90deg);
}

.area-control .ui-btn.before:before, .area-control .ui-btn.next:before, .area-control .ui-btn.before:after, .area-control .ui-btn.next:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    display: block;
}


.area-control .ui-btn.stop, .area-control .ui-btn.play {
    margin: 0 0 0 3px;
    border: none;
    background: none;
}

.area-control .ui-btn.stop:before {
    margin: -3px -3px;
    width: 2px;
    height: 7px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

.area-control .ui-btn.play:before {
    margin: -4px -3px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 6px solid #333;
}

.area-control .ui-btn.off {
    display: none;
}

/* link-nav */
.link-nav {
    background-color: #fff;
    width: 980px;
    height: 138px;
    border: 1px solid #ddd;
    margin: -69px auto 0;
    z-index: 1;
    position: relative;
    padding: 39px 25px;
    text-align: center;
}

.link-nav ul {
    display: flex;
}

.link-nav ul li {
    width: 234px;
    height: 60px;
    border-right: 1px solid #ddd;
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.link-nav ul li:last-child {
    border: none;
}

.link-nav ul li::before {
    display: block;
    content: '';
    width: 1px;
    height: 50px;
    width: 60px;
    background: url('../images/obank/icon_set4.png') no-repeat 0 0;
}

.link-nav ul li:nth-child(2):before {background-position: -60px 0;}
.link-nav ul li:nth-child(3):before {background-position: -120px 0;}
.link-nav ul li:nth-child(4):before {background-position: -240px 0;}

.link-nav a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.link-nav ul a span:first-child {
    font-family: 'GmarketSansLight';
    font-size: 20px;
    letter-spacing: -0.05em;
    font-weight: 300;
}

.link-nav ul a span:last-child {
    font-size: 12px;
    color: #4E473F;
}



/* section1 */
.section1 {
    background-color: #F2F2F2;
    height: 610px;
    margin-top: -69px;
    padding-top: 69px;
}

.product {
    width: 980px;
    margin: 34px auto 0;
    display: flex;
    gap: 10px;
    position: relative;
}

.headline {
    background-color: #FFCF10;
    border: 1px solid #EBBD05;
    width: 320px;
    height: 400px;
    color: #222;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 14px;
}

.headline p {
    font-size: 18px;
    letter-spacing: -0.06em;
    margin-top: 70px;
    margin-bottom: 14px;
}

.headline strong {
    font-size: 30px;
    font-family: 'GmarketSansMedium';
    letter-spacing: -0.06em;
    margin-bottom: 50px;
}

.headline > strong > span {
    font-family: 'GmarketSansLight';
}

.headline > span {
    color: #7F6707;
    font-size: 14px;
    letter-spacing: -0.06em;
    display: block;
}

.headline .c1 {
    position: relative;
    display: block;
}

.headline .c1::before {
    display: block;
    content: '';
    width: 13px;
    height: 13px;
    background-image: url('../images/obank/icon_clock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 96px;
    transform: translateY(-50%);
}

.headline a {
    margin-top: 95px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.headline a::before {
    content: '';
    display: inline-block;
    background-color: #222;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 99px;
    height: 1px;
    text-align: center;
}

.slider {
    width: 650px;
}

.list-product {
    /* width: 650px; */
}

.list-product ul {
    display: flex;
    width: 650px;
}
    
.list-product li {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 320px;
    height: 400px;
    margin-right: 10px;
    margin-top: 14px;
}

.list-product > ul > li:first-child {
    margin-right: 10px;
}

.product .area-control {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.list-product li > a {
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-product li {
    position: relative;
}

.list-product li::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s;
    transform: scaleX(0);
}
.list-product .pro1::before {background-color: #EB7311;}
.list-product .pro2::before {background-color: #508AE6;}
.list-product .pro3::before {background-color: #469E95;}
.list-product .pro4::before {background-color: #7F78CB;}
.list-product .pro5::before {background-color: #5394C3;}
.list-product .pro6::before {background-color: #7F78CB;}

.list-product li:hover::before {
    transform: scaleX(1);
}

.list-product li::after {
    background: url('../images/obank/icon_set4.png') no-repeat 0 0;
    display: block;
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.list-product .pro1::after {background-position: -10px -70px;}
.list-product .pro2::after {background-position: -170px -70px;}
.list-product .pro3::after {background-position: -90px -70px;}
.list-product .pro4::after {background-position: -250px -70px;}
.list-product .pro5::after {background-position: -330px -70px;}
.list-product .pro6::after {background-position: -410px -70px;}

.list-product em {
    background-color: #EB7311;
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.05em;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 28px;
    display: inline-block;
    position: absolute;
    top: -14px;
    left: 34px;
}

.list-product .pro2 em {
    background-color: #508AE6;
    width: 57px;
}
.list-product .pro3 em {
    background-color: #469E95;
    width: 28px;
}
.list-product .pro4 em {
    background-color: #7F78CB;
    width: 83px;
}
.list-product .pro5 em {
    background-color: #5394C3;
    width: 28px;
}
.list-product .pro6 em {
    background-color: #7F78CB;
    width: 28px;
}

.list-product em::before {
    background: url('../images/obank/bg_cate.png') no-repeat 0 0;
    display: block;
    content: '';
    width: 14px;
    height: 28px;
    position: absolute;
    top: 0;
    left: -14px;
}

.list-product .pro2 em::before {background-position: -60px 0;}
.list-product .pro3 em::before {background-position: -30px 0;}
.list-product .pro4 em::before {background-position: -90px 0;}
.list-product .pro5 em::before {background-position: -120px 0;}
.list-product .pro6 em::before {background-position: -90px 0;}

.list-product em::after {
    background: url('../images/obank/bg_cate.png') no-repeat 0 0;
    display: block;
    content: '';
    width: 14px;
    height: 28px;
    position: absolute;
    top: 0;
    right: -14px;
}

.list-product .pro1 em::after {background-position: -15px 0;}
.list-product .pro2 em::after {background-position: -75px 0;}
.list-product .pro3 em::after {background-position: -45px 0;}
.list-product .pro4 em::after {background-position: -105px 0;}
.list-product .pro5 em::after {background-position: -135px 0;}
.list-product .pro6 em::after {background-position: -105px 0;}

.list-product a > strong {
    letter-spacing: -0.06em;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 10px;
}

.list-product strong > span {
    margin-top: 115px;
    font-weight: normal;
    font-size: 16px;
    color: #929292;
    display: block;
    height: 21px;
}

.list-product strong > b {
    font-size: 20px;
    color: #333;
}

.list-product .info {
    font-size: 20px;
    letter-spacing: -0.06em;
    color: #929292;
    margin-top: 55px;
}

.list-product .pro5 .info {
    margin-top: 28px;
}

.list-product .info > strong {
    display: block;
    font-size: 30px;
    color: #333;
    margin-top: 5px;
}

.list-product .link {
    font-size: 18px;
    letter-spacing: -0.06em;
    color: #fff;
    background-color: #EB7311;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.list-product .pro2 .link {background-color: #508AE6;}
.list-product .pro3 .link {background-color: #469E95;}
.list-product .pro4 .link {background-color: #7F78CB;}
.list-product .pro5 .link {background-color: #5394C3;}
.list-product .pro6 .link {background-color: #7F78CB;}

/* section2 */
.section2 {
    width: 980px;
    margin: 0 auto;
    height: 578px;
    padding-top: 60px;
}

.section2 .info {
    display: flex;
}

/* info-board */
.info-board {
    width: 647px;
    height: 237px;
    padding: 8px 24px 7px 23px;
}

.info-board h2 {
    color: #222;
    font-size: 24px;
    letter-spacing: -0.05em;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ddd;
    width: 600px;
}

.info-board ul {
    margin-top: 25px;
}

.info-board li {
    width: 597px;
    margin-bottom: 15px;
}

.info-board li a {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 597px;
}

.info-board li a span {
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #666;
    width: 372px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-board li a span:last-child {
    width: 140px;
    padding-left: 23px;
    color: #929292;
    font-size: 14px;
    letter-spacing: -0.03em;
    position: relative;
}

.info-board li a span:last-child::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background: url('../images/obank/icon_clock_gray.png') no-repeat 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.info-board em {
    display: block;
    color: #E07B16;
    width: 65px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #E07B16;
    font-size: 16px;
    font-style: normal;
    text-align: center;
}

.info-board li:nth-child(3) em, .info-board li:nth-child(4) em {
    color: #508AE6;
    border: 1px solid #508AE6;
}


/* info-customer */
.info-customer {
    border-left: 1px solid #ddd;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.info-customer dl dt {
    font-size: 24px;
    letter-spacing: -0.05em;
    color: #222;
    font-weight: bold;
}

.info-customer dl {
    text-align: center;
}

.info-customer dl dt + dd {
    color: #DE7817;
    font-size: 30px;
    margin: 10px 0;
}

.info-customer dl dd {
    color: #929292;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.03em;
    border: none;
    padding: 0;
    margin-bottom: 5px;
}

.info-customer dl dd:last-child {
    font-size: 12px;
}

.info-customer ul {
    display: flex;
    color: #929292;
    font-size: 12px;
    letter-spacing: -0.05em;
    gap: 8px;
    justify-content: center;
    position: relative;
    padding-top: 50px;
}

.info-customer ul::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    width: 10px;
    height: 2px;
    background: #f7a13d;
}

.info-customer ul li {
    position: relative;
}

.info-customer ul li::before {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #929292;
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
}

.info-customer ul li:first-child:before {
    display: none;
}

.section2 .banner {
    margin-top: 60px;
}

.footer .copy ul li:last-child {
    display: none;
}